.logo{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.item{
	margin: 0px 0px 0px 0px;
	width: calc(100%/7);
	float: left;
	text-align: center;
	font-size: 30px;
	border-right: 2px solid grey;
}
.xl9:after{
	content: "";
	display: block;
	clear: both;
}
.item:nth-child(7){
	border-right: none;
}
.q{
	min-height: 1100px;
}
.w{
	float: left;
	text-align: center;
	font-size: 20px;
	width: calc(100%/8);
}
nav{
	width: 80%;
	margin-left: 20%;
	float: left;
	background: white;
	box-shadow: none;
}
ul:after{
	content: "";
	display: block;
	clear: both;
}
nav ul a{
	color: black;
	font-size: 20px;
}
.e{
	width: 100%;
}
p{
	font-size: 20px;
}